*{
  margin: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  padding-top: 1.5em;
  font-weight: 700;
  font-size: 1.5rem;
  color: #457B9D;
}
p {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  color: #ADB5BD;
}