.ActivityItemContainer {
    padding: 0.8em 1em;
    /* margin-top: 2em; */
    /* background-color: #FFFFFF; */
}
.ActivityContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: #FFFFFF;
    min-height: 70px;
    border-radius: 15px;
}
.ActivityItem{
    margin: 4px 0;
   font-size: 15px;
   font-weight: 500;
   color: #457B9D; 
}
.ActivityDate {
    font-size: 13px;
   font-weight: 400;
   color: #7c7c7c;
}
.DeleteItem {
    background: transparent;
    border: 0;
    cursor: pointer;
}
.DeleteItem:hover{
    transition: 200ms ease;
    transform: scale(1.2);
}